.app {
  text-align: center;
  padding: 30px;
  height: 100vh;
  transition: background 0.4s ease-in-out;
}

/* Backgrounds */
.app.sunny {
  background: url('/images/sunny.jpg') no-repeat center/cover;
}

.app.rain {
  background: url('/images/rain.jpg') no-repeat center/cover;
}

.app.cloud {
  background: url('/images/cloudy.jpg') no-repeat center/cover;
}

.app.snow {
  background: url('/images/snow.jpg') no-repeat center/cover;
}

.app.default {
  background: #6894a5;
}

.card {
  background:rgba(129, 199, 139, 0.7);
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.form {
  margin-bottom: 20px;
}

.error {
  color: red;
  font-weight: bold;
}